@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
}