.header__burger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;
  padding: 20px 40px;
}

#menu-ckeck {
  display: none;
}

.header__burger span {
  width: 30px;
  height: 3px;
  display: block;

  border-radius: 1px;

  margin-bottom: 4px;
  background-color: #39515e;
}

.header__burger::before {
  content: "";
  display: block;

  width: 30px;
  height: 3px;
  border-radius: 1px;

  margin-bottom: 4px;
  background-color: #39515e;
  transition: 0.1s;
}

.header__burger::after {
  content: "";
  border-radius: 1px;
  display: block;

  width: 23px;
  height: 3px;
  background-color: #39515e;
}

.header__burger {
  display: none;
}

.header-navigation {
  display: flex;
  gap: 35px;
}

.nav-link a {
  text-decoration: none;
  color: #14274e;
  transition: all 0.2s linear;
}

.nav-link a::after {
  content: "";
  width: 0;
  height: 1.1px;
  display: block;
  transition: width 0.4s ease-in-out;

  margin-top: 0.8px;

  background-color: #14274e;
}

.nav-link a:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
  .header {
    position: relative;
    margin-bottom: 30px;
  }

  .header__logo {
    font-size: 28px;
    margin-left: 10px;
  }

  label {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 25px;
    right: 15px;
    transition: 0.5s;
  }

  .header-navigation {
    display: block;
    position: absolute;
    width: 100%;
    bottom: -30px;
    left: 0;

    text-align: right;
    font-size: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;

    transform: translateY(100%);
  }

  .header__navigation:first-child {
    border: none;
  }

  .nav-link {
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #14274e;
    background-color: #ffffff;
  }
  .nav-link a:hover:after {
    display: none;
  }

  #menu-ckeck:checked ~ .header-navigation {
    max-height: 500px;
    font-size: 18px;
  }

  #menu-ckeck:checked ~ .header__burger::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #263238;
  }
  #menu-ckeck:checked ~ .header__burger::after {
    display: none;
  }
  #menu-ckeck:checked ~ .header__burger span {
    display: none;
  }

}
